# Specification files for platform maintainers
cibuildwheel/platforms/ios.py         @freakboy3742
cibuildwheel/platforms/pyodide.py     @hoodmane @ryanking13 @agriyakhetarpal
cibuildwheel/platforms/android.py     @mhsmith

# Constraints files
cibuildwheel/resources/constraints-pyodide*.txt @hoodmane @ryanking13 @agriyakhetarpal
