language: minimal

branches:
  only:
  - master

jobs:
  include:
    - name: Linux | x86_64 + i686 | Python 3.6
      language: python
      python: 3.6
      services: docker
      env: PYTHON=python

    - name: Linux | arm64 | Python 3.6
      language: python
      python: 3.6
      services: docker
      arch: arm64
      env: PYTHON=python

    - name: Linux | ppc64le | Python 3.6
      language: python
      python: 3.6
      services: docker
      arch: ppc64le
      env: PYTHON=python

    - name: macOS | x86_64 | Python 3.x
      os: osx
      env:
        - PYTHON=python3
        - PYTEST_ADDOPTS='-k "unit_test or test_0_basic" --suppress-no-test-exit-code'

    - name: Windows | x86_64 | Python 3.6
      os: windows
      language: shell
      before_install:
       - choco install python3 --version 3.6.8 --no-progress -y
       # Update root certificates to fix SSL error; see http://www.chawn.com/RootCerts.htm
       - powershell "md C:\temp\certs; CertUtil -generateSSTFromWU C:\temp\certs\RootStore.sst; Get-ChildItem -Path C:\\temp\certs\Rootstore.sst | Import-Certificate -CertStoreLocation Cert:\\LocalMachine\\Root\\ | out-null"
      env:
        - PYTHON=C:\\Python36\\python

    - &linux_s390x_36
      name: Linux | s390x | Python 3.6
      language: python
      python: 3.6
      services: docker
      arch: s390x
      env: PYTHON=python

  allow_failures:
    # must repeat the s390x job above exactly to match
    - *linux_s390x_36

install: $PYTHON -m pip install -e ".[dev]" pytest-custom-exit-code

script: $PYTHON ./bin/run_tests.py
