os: linux
dist: focal
language: python

branches:
  only:
  - main

jobs:
  include:
    - name: Linux | x86_64 + i686 | Python 3.7
      python: 3.7
      services: docker
      env: PYTHON=python

    - name: Linux | arm64 | Python 3.7
      python: 3.7
      services: docker
      arch: arm64-graviton2
      group: edge
      virt: vm
      env: PYTHON=python

    - name: Linux | ppc64le | Python 3.7
      python: 3.7
      services: docker
      arch: ppc64le
      allow_failure: True
      env:
        - PYTHON=python
        # skip test_manylinuxXXXX_only, it uses too much disk space
        # c.f. https://travis-ci.community/t/running-out-of-disk-space-quota-when-using-docker-on-ppc64le/11634
        - PYTEST_ADDOPTS='-k "not test_manylinuxXXXX_only"'

    - name: Windows | x86_64 | Python 3.7
      os: windows
      language: shell
      before_install:
        - choco upgrade python3 -y --version 3.7.9 --limit-output
      env:
        - PYTHON=C:\\Python37\\python

    - name: Linux | s390x | Python 3.7
      python: 3.7
      services: docker
      arch: s390x
      env: PYTHON=python

install:
- $PYTHON -m pip install -U pip
- $PYTHON -m pip install -e ".[dev]" pytest-custom-exit-code

script: |
  # travis_wait disable the output while waiting
  # use the same kind of tricks as in multibuild
  (while true; do echo "travis_keep_alive"; sleep 300; done) &
  SPINNER_PID=$!
  disown
  $PYTHON ./bin/run_tests.py
  kill -9 ${SPINNER_PID}
