pr:
  paths:
    exclude:
      - .github/**
      - bin/*
      - docs/**
      - examples/github-*
      - examples/ci*
      - examples/travis-ci-*
      - .ci*
      - .pre-commit-config.yaml
      - .readthedocs.yml
      - .travis.yml
      - README.md
      - mkdocs.yml
      - noxfile.py

jobs:
- job: linux_311
  timeoutInMinutes: 180
  pool: {vmImage: 'ubuntu-latest'}
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
    - bash: |
        docker run --rm --privileged docker.io/tonistiigi/binfmt:latest --install all
        python -m pip install dependency-groups
        python -m dependency_groups test | xargs python -m pip install -e.
        if [ "$(Build.SourceBranch)" = "refs/heads/main" ]; then
          echo "INFO: Exporting CIBW_ENABLE=all for main branch test run."
          export CIBW_ENABLE=all
        else
          echo "INFO: CIBW_ENABLE not set for this branch ($(Build.SourceBranch))."
        fi
        python ./bin/run_tests.py

- job: macos_311
  pool: {vmImage: 'macOS-latest'}
  timeoutInMinutes: 120
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
    - bash: |
        python -m pip install dependency-groups
        python -m dependency_groups test | xargs python -m pip install -e.
        if [ "$(Build.SourceBranch)" = "refs/heads/main" ]; then
          echo "INFO: Exporting CIBW_ENABLE=all for main branch test run."
          export CIBW_ENABLE=all
        else
          echo "INFO: CIBW_ENABLE not set for this branch ($(Build.SourceBranch))."
        fi
        python ./bin/run_tests.py

- job: windows_311
  pool: {vmImage: 'windows-latest'}
  timeoutInMinutes: 180
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'
    - bash: |
        python -m pip install dependency-groups
        python -m dependency_groups test | xargs python -m pip install -e.
        if [ "$(Build.SourceBranch)" = "refs/heads/main" ]; then
          echo "INFO: Exporting CIBW_ENABLE=all for main branch test run."
          export CIBW_ENABLE=all
        else
          echo "INFO: CIBW_ENABLE not set for this branch ($(Build.SourceBranch))."
        fi
        python ./bin/run_tests.py
