jobs:
- job: linux
  pool: {vmImage: 'Ubuntu-18.04'}
  steps:
    - task: UsePythonVersion@0
    - bash: |
        python -m pip install -r requirements-dev.txt
        python ./bin/run_tests.py

- job: macos
  pool: {vmImage: 'macOS-10.13'}
  steps:
    - task: UsePythonVersion@0
    - bash: |
        python -m pip install -r requirements-dev.txt
        python ./bin/run_tests.py

- job: windows
  pool: {vmImage: 'vs2017-win2016'}
  steps:
    - task: UsePythonVersion@0
    - script: choco install vcpython27 -f -y
      displayName: Install Visual C++ for Python 2.7
    - bash: |
        python -m pip install -r requirements-dev.txt
        python ./bin/run_tests.py

