pr:
  paths:
    exclude:
      - docs/*
      - .pre-commit-config.yaml

jobs:
- job: linux_38
  timeoutInMinutes: 120
  pool: {vmImage: 'Ubuntu-20.04'}
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.8'
    - bash: |
        python -m pip install -e ".[dev]"
        python ./bin/run_tests.py

- job: macos_38
  pool: {vmImage: 'macOS-11'}
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.8'
    - bash: |
        python -m pip install -e ".[dev]"
        python ./bin/run_tests.py

- job: windows_38
  pool: {vmImage: 'windows-2019'}
  timeoutInMinutes: 180
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.8'
    - bash: |
        python -m pip install -e ".[dev]"
        python ./bin/run_tests.py
