name: Release

on:
  workflow_dispatch:
  pull_request:
  release:
    types:
    - published

jobs:
  dist:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: hynek/build-and-inspect-python-package@v2

  publish:
    needs: [dist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    environment:
      name: pypi
      url: https://pypi.org/p/cibuildwheel
    permissions:
      id-token: write
      attestations: write

    steps:
    - uses: actions/download-artifact@v7
      with:
        name: Packages
        path: dist

    - name: Generate artifact attestation for sdist and wheel
      uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
      with:
        subject-path: "dist/cibuildwheel-*"

    - uses: pypa/gh-action-pypi-publish@release/v1
      with:
        attestations: true
